:root {
	--black-color: #000;
	--white-color: #fff;
	--white-color-2: #f2f2f2;
	--white-color-5: #f5f5f5;
	--white-color-8: #f8f8f8;
	--gray-color-8: #888;
	--gray-color-5: #555;
	--gray-color-3: #333;
	
	/* border-radius */
	--br: 4px;
}