@charset "UTF-8";

.sidebar__container {
	width: inherit;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	background-color: #fff;
	box-shadow: 0px 0px 9px 3px rgb(41 41 41/ 5%);
	bottom: 0;
	left: 0;
	top: 0;
}

.sidebar__logo  {
	height: 6rem;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	display: flex;
	color: #5ec9ff;
	border-bottom: 1px solid #ddd;
}

.sidebar__logo>svg, .sidebar__logo>.sidebar__logo-name {
	cursor: pointer;
	color: #5ec9ff;
}

.sidebar__logo>svg {
	font-size: 2.2rem;
}

.sidebar__logo>.sidebar__logo-name {
	font-size: 2rem;
	font-weight: 700;
}

.sidebar__nav {
	list-style: none;
	font-size: 2rem;
	font-weight: 600;
}

.sidebar__nav-item {
	display: flex;
	align-items: center;
	gap: 1rem;
	border-bottom: 0.5px solid #f2f2f2;
	padding: 1.2rem 1rem;
	transition: all 0.2s linear;
	cursor: pointer;
	color: #333;
}

.sidebar__nav-item:hover, .sidebar__nav-item.active {
	color: #fff;
	background-color: #5ec9ff;
	border-color: #5ec9ff;
}

.sidebar__nav-item>svg {
	display: block;
	width: 2rem !important; 
}

.sidebar__nav-item span {
	font-size: 1.4rem;
}